/* Required for the profile picture */
.profile-header-container{
    /*margin: 0 auto;*/
    text-align: center;
}
.profile-header-img {
    /* padding: 54px; */
    padding-right: 1rem !important;
}
.profile-header-img > img.img-circle {
    width: 96px;
    height: 96px;
    border: 2px solid #bbbbbb;
    border-radius: 48px;
}
.profile-header-img > img.img-circle-admin {
    width: 96px;
    height: 96px;
    border: 4px solid #c39411;
    border-radius: 48px;
}
.profile-header-img > img.img-circle-pm {
    width: 96px;
    height: 96px;
    border: 4px solid rgb(4, 139, 11);
    border-radius: 48px;
}

.profile-header {
    margin-top: 43px;
}